Betelgeuse.xcworkspace/xcuserdata/
Betelgeuse.xcodeproj/xcuserdata/
Betelgeuse.xcodeproj/project.xcworkspace/xcshareddata/
Betelgeuse.xcodeproj/project.xcworkspace/xcuserdata/
Betelgeuse.xcworkspace/.LSOverride
Betelgeuse/build/
Betelgeuse/output/
Betelgeuse/xcodebuild.log
Betelgeuse/config.cfg
Betelgeuse/ipa_generator.sh
.DS_Store
Betelgeuse/.DS_Store

#CocoaPods
Pods
Podfile.lock

# Flutter
.dart_tool/